mixin gpio_debug_mixin()
    li
        .alarmpi-gpio-debug.card.bg-custom-gpio-debug
            .card-body
                #gpio-ui-button-row.form-group.row.d-flex.justify-content-around
                    .col-auto
                        #gpio-red.button.btn.red.alarmpi-gpio-ui
                            i.fas.fa-circle(aria-hidden="true")
                    .col-auto
                        #gpio-black.button.btn.black.alarmpi-gpio-ui
                            i.fas.fa-circle(aria-hidden="true")
                    .col-auto
                        #gpio-yellow.button.btn.yellow.alarmpi-gpio-ui
                            i.fas.fa-circle(aria-hidden="true")
