mixin gpio_debug_mixin()
    li
        .alarmpi-gpio-debug.card.bg-custom-widget-panel
            .card-body
                #gpio-ui-button-row.form-group.row.d-flex.justify-content-around
                    .col-auto
                        #gpio-red.button.btn.red-bg.alarmpi-gpio-ui
                            i.fas.fa-circle(aria-hidden="true").red
                    .col-auto
                        #gpio-black.button.btn.black-bg.alarmpi-gpio-ui
                            i.fas.fa-circle(aria-hidden="true").black
                    .col-auto
                        #gpio-yellow.button.btn.yellow-bg.alarmpi-gpio-ui
                            i.fas.fa-circle(aria-hidden="true").yellow
