extends page-outline.pug

include alarm-mixin
include vlc-debug-ui
include alarm-gpio-ui

block header
    h1 Alarmpi - Settings

block content
    ul#sortable(style="width: 25em")
        +vlc_debug_mixin()
        +gpio_debug_mixin()
        hello world

block bottombuttons
    button.btn.btn-primary.bg-custom-light-dark.alarmpi-add
        i.fas.fa-plus(aria-hidden="true")
    button.btn.btn-primary.bg-custom-light-dark.alarmpi-save
        i.fas.fa-save(aria-hidden="true")

block footer
    h3 TODO
    ul
        li music selection
        li music uploading
        li snooze interval etc
