extends page-outline.pug

include alarm-mixin
include vlc-debug-ui
include alarm-gpio-ui
include buttons/save-button
include buttons/add-button


block header
    h1 Alarmpi - Settings

block content
    ul#sortable(style="width: 25em")
        +vlc_debug_mixin()
        +gpio_debug_mixin()
        p hello world

block bottombuttons
    +add_button()
    +save_button()

block footer
    h3 TODO
    ul
        li implement debug save button
        li music selection
        li music uploading
        li snooze interval etc
