mixin vlc_debug_mixin()
    li
        .alarmpi-vlc-debug.card.bg-custom-widget-panel
            .card-body
                #vlc-ui-button-row.form-group.row.d-flex.justify-content-around
                    .col-auto
                        #vlc-toggleShuffle.button.btn.btn-primary.alarmpi-vlc-ui.bg-custom-light-dark
                            i.fas.fa-shuffle(aria-hidden="true")
                    .col-auto
                        #vlc-togglePlay.button.btn.btn-primary.alarmpi-vlc-ui.bg-custom-light-dark
                            i.fas.fa-play(aria-hidden="true")
                    .col-auto
                        #vlc-stop.button.btn.btn-primary.alarmpi-vlc-ui.bg-custom-light-dark
                            i.fas.fa-stop(aria-hidden="true")
