mixin vlc_debug_mixin()
    li
        .alarmpi-vlc-debug.card.bg-custom-vlc-debug
            .card-body
                #vlc-ui-button-row.form-group.row.d-flex.justify-content-around
                    .col-auto
                        #vlc-open.button.btn.btn-primary.alarmpi-vlc-ui
                            i.fas.fa-record-vinyl(aria-hidden="true")
                    .col-auto
                        #vlc-play.button.btn.btn-primary.alarmpi-vlc-ui
                            i.fas.fa-play(aria-hidden="true")
                    .col-auto
                        #vlc-pause.button.btn.btn-primary.alarmpi-vlc-ui
                            i.fas.fa-pause(aria-hidden="true")
                    .col-auto
                        #vlc-close.button.btn.btn-primary.alarmpi-vlc-ui
                            i.fas.fa-stop(aria-hidden="true")
