.button-ribbon {
    margin-bottom: 10px;
}

.debug-ui {
    display: none;
}

.bg-custom-light {
    background-color: #6faabc;
}

.bg-custom-light-dark {
    background-color: #60829c;
    border-color: #60829c;
}

.bg-custom-widget-panel{
    background-color: #20c997;
}

.button i {
  pointer-events: none;
}

.red {
    color: var(--bs-red);
}

.black {
    color: var(--bs-black);
}

.yellow {
    color: var(--bs-yellow);
}

.red-bg {
    background-color: var(--bs-red);
}

.black-bg {
    background-color: var(--bs-black);
}

.yellow-bg {
    background-color: var(--bs-yellow);
}